#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	combos {
		compatible = "zmk,combos";

		zmk_studio_combo {
			timeout-ms = <50>;
			key-positions = <0 9 30 33>;
			bindings = <&studio_unlock>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&kp B &kp L &kp D &kp C &kp V &kp J &kp Y &kp U &kp O &kp COMMA
			&kp N &kp R &kp T &kp S &kp G &kp P &kp H &kp E &kp A &kp I
			&kp X &kp Q &kp M &kp W &kp Z &kp K &kp F &kp SEMI &kp SQT &kp DOT
			                  &mo 1 &mt LSHIFT ENT &mo 2 &kp SPACE
			>;
		};
	};
}
